<div class="splashscreen">
  <h1 class="splashscreenh1">budget app</h1>

  <div class="splashscreenLink" id="sssignIn">
    <%= link_to "Sign in", new_user_session_path %>
  </div>
  <div class="splashscreenLink">
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
</div>